// Stuud Color Pallate:

$sgrey: rgb(66, 77, 88);
$sblue: #2a3266;
$sorange: rgb(251, 108, 0);
$sorange-hover: #FA4B00;
$teal: rgb(63, 177, 192);
$soffwhite: #F3F1F3;

// Tag Colors:

$tblue: rgb(38, 149, 223);
$spink : rgb(223, 42, 100);
$tyellow : rgb(255, 230, 110);

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
