// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Define fonts for body and headers
$body-font: "Montserrat", "Helvetica", "sans-serif";
$headers-font: "Playfair Display", "Helvetica", "sans-serif";

    // font-family: 'Montserrat', sans-serif;

    // font-family: 'Playfair Display', serif;

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 26px;
  color: #2a3266;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #2a3266;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: medium;
  color: #2a3266;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #2a3266;
}
