
.event-show {
  hr {
    border-top: 1px solid $sblue;
  }

  .header{
    display: flex;
    justify-content: space-between;
  }

  .header-btns {
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin-left: 8px;
  }



  // .btns {
  //   display: flex;
  //   justify-content: space-between;
  //   width: 50%;
  // }
}
