.finances {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0;
  width: 100%;

  // Styles ––––––––––––––––––––––––––––––––––––––––––––––

  .bold {
    font-weight: bold !important;
  }

  .flex-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-right: 24px;
    padding-left: 24px;
    text-align: center;
  }

  .contain {
    width: 100%;
    height: 50px;
    border-radius: 5px;
  }

  .highlight {
    background: rgba(230, 232, 230, 0.3);

  }

  .link {
    text-decoration: none;
    color: $sblue;

    &:hover {
      color: $sorange;
    }
  }

 // Components ––––––––––––––––––––––––––––––––––––––––––––––

  .btn-graph {
    background-color: $sorange;
    color: $soffwhite;
    text-align: center;
    border: none;
    text-decoration: none;
    font-weight: 500;
    font-family: Montserrat;
    font-size: 16px;
    padding: 12px 70px;
    border-radius: 3px;
    transition: background .3s;

    a {
      color: $soffwhite;
    }
  }

  .btn-graph:hover {
      background-color: #FA4B00;
      text-decoration: none;
      color: $soffwhite;
  }

  // Containers ––––––––––––––––––––––––––––––––––––––––––––––

  .container-right {
    overflow: scroll;
    margin-left: 32px;
    max-height: 100vh;
  }

  .container-left {
    max-height: 100vh;
  }

  .graph-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    margin-top: 38px;
  }

  .graph {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(198, 198, 198, 0.25);
    border-radius: 3px;
    margin-bottom: 24px;
    padding: 20px;
  }

  .data-graph {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 33px 0px 33px;

  }

  .invoice-buttons {
    display: flex;
    justify-content: space-around;
  }

  // Dividers ––––––––––––––––––––––––––––––––––––––––––––––

  hr {
    border-top: 1px solid $sblue;

  }

  .divider {

    margin-top: 23px;
    margin-bottom: 17px;

     h2 {
      position: relative !important;
      color: rgba(41, 50, 102, 0.56)!important;
      overflow: hidden;
      text-align:left;

     }

      h2:after {
        display: inline-block;
        content: "";
        height: 1.5px;
        background: rgba(41, 50, 102, 0.40);
        position: absolute;
        width: 68%;
        top: 50%;
        margin-left: 10px;
      }
  }

  // Modal ––––––––––––––––––––––––––––––––––––––––––––––

  .modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
  }

  input[type=submit] {
    background-color: $sorange;
    color: $soffwhite;
    width: 175px;
    height: 40px;
    text-align: center;
    border: none;
    text-decoration: none;
    font-weight: 400;
    font-family: Montserrat;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 3px;
    transition: background .3s;
  }

  input[type=submit]:hover {
    background-color: #FA4B00;
    text-decoration: none;
    color: $soffwhite;
  }


  // Cards ––––––––––––––––––––––––––––––––––––––––––––––

  .card-data {
    display: flex;
    flex-direction: vertical;

    width: 162px;
    height: 94px;
    left: 324px;
    top: 674px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(198, 198, 198, 0.25);
    border-radius: 3px;
  }

  .income {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h3 {

    }

    p {
      // color: #3db1c0 !important;
      font-weight: bold;
      font-size: 18px !important;
      margin-bottom: 0px;
    }
  }

  .expenses {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    p {
      // color: #de2a63 !important;
      font-weight: bold;
      font-size: 18px !important;
      margin-bottom: 0px;
    }

  }

  .total {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    p {
      color: #29316a !important;
      font-weight: bold;
      font-size: 18px !important;
      margin-bottom: 0px;
    }

  }

  .card-dashboard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(198, 198, 198, 0.25);
    border-radius: 3px;
    margin-bottom: 24px;

    img {
      // position: relative;
      // left: 80px;

    }
  }

  .card-invoice {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 90px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(198, 198, 198, 0.25);
    border-radius: 3px;
    margin-bottom: 18px;
  }

  .card-weekly-report {
    width: 448px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(198, 198, 198, 0.25);
    border-radius: 3px;
    margin-top: 30px;
    margin-bottom: 49px;
  }

  .color-indicator-red {
    background-color: rgb(222, 42, 99);
    width: 14px;
    height: 90px;
  }

  .color-indicator-yellow {
    background-color: rgb(254, 230, 108);
    width: 14px;
    height: 90px;
  }

  .color-indicator-blue {
    background-color: rgb(37, 148, 223);
    width: 14px;
    height: 90px;
  }

  .invoice-status-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 90px;
    background-color: rgba(230, 232, 230, 0.5);
    text-align: center;

    img {
      height: 60px;
      width: 60px;
    }

    &:hover {
      box-shadow: 0px 4px 4px rgba(198, 198, 198, 0.25);

    }
  }

  .client-name {
    font-size: 16px !important;
    text-decoration: none;
    width: 48%;
    color: $sblue;
    font-weight: bold;
    line-height: 16px;
    margin-left: 18px;
    margin-bottom: 0px;

    &:hover {
      color: $sorange;
    }
  }

  .event-date {
    font-size: 16px !important;
    margin-bottom: 0px;
    width: 30%;
  }

  #invoice-info {
    text-align: right;
    margin-right: 10px;
    width: 35%;

    p {
      font-size: 14px !important;
      margin-bottom: 0px;
    }
  }

  #card-content-weekly {
    font-size: 18px;
    width: 370px;
    height: 200px;
    margin: 0 auto;
  }

  #chart-1 {
    width: 100%;
    width: 100%;
    margin: 0 auto;
  }

}

// .modal {
//   height:400px;

//   .modal-content, .modal-dialog, .fade, .show {
//     height:400px;
//   }
// }
