.edit-invoice {

  .form-control {
    border: none;
  }

  .form-control:focus {
    border: 2px solid $sorange;
    box-shadow: none;
  }

  #booking_date {
    border: none;
    background-color: white;
  }

  #booking_date:focus {
    border: 2px solid $sorange;
    box-shadow: none;
  }

  .form-control[readonly] {
    border: none;
    background-color: white;
  }

  .form-control[readonly]:focus {
    border: 2px solid $sorange;
    box-shadow: none;
  }

  ::placeholder {
    color: #4D526F;
  }

  label {
    color: $sblue;
  }

  hr {
    border-top: 1px solid $sblue;
  }

  input[type=submit] {
    background-color: $sorange;
    color: $soffwhite;
    width: 175px;
    height: 40px;
    text-align: center;
    border: none;
    text-decoration: none;
    font-weight: 400;
    font-family: Montserrat;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 3px;
    transition: background .3s;
    position: relative;
    top: -187px;
    left: 804px;

    p {
      color: $soffwhite;
    }
  }

  input[type=submit]:hover {
    background-color: #FA4B00;
    text-decoration: none;
    color: $soffwhite;
  }

  .form-actions {
  display: flex;
  justify-content: space-between;
  align-content: baseline;
    a {
      color: $sorange;
      text-decoration: none;
    }

    a:hover {
      color: #FA4B00;
    }
  }
}
