<h1 class="home-logo">STÜUD</h1>
<hr/>
<div class="home-btns">
  <p class="btn-orange"><%= link_to "Login", new_user_session_path  %></p>
  <p class="btn-orange"><%= link_to "Signup", user_session_path  %></p>
</div>

