<div class="home-page">
  <div class="home-container">
    <h1>STÜUD</h1>
    <p>______________________________________________________</p>
    <div class="home-btns">
      <a href="#" class="btn-orange">Login</a>
      <a href="#" class="btn-orange">Signup</a>
    </div>
  </div>
</div>


