.btn-orange {
  background-color: $sorange;
  color: $soffwhite;
  width: 175px;
  height: 40px;
  text-align: center;
  border: none;
  text-decoration: none;
  font-weight: 600;
  font-family: Montserrat;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 3px;

  :hover {
    text-decoration: underline;
  }

}
