.btn-orange {
  background-color: $sorange;
  // color: $soffwhite;
  width: 175px;
  height: 40px;
  text-align: center;
  border: none;
  text-decoration: none;
  font-weight: 400;
  font-family: Montserrat;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 3px;
  transition: background .3s;

  a {
    color: $soffwhite;
  }

}

.btn-orange:hover {
    background-color: #FA4B00;
    text-decoration: none;
    color: $soffwhite;
}
