.flash {
  .alert-info {
    background-color: $sorange;
    color: $soffwhite;
    border-radius: 5px;
  }

  .alert-warning {
    background-color: $sorange;
    color: $soffwhite;
    border-radius: 5px;
  }

  .alert-dismissible {
    background-color: $sorange;
    color: $soffwhite;
    border-radius: 5px;
  }

  .alert {
    background-color: $sorange;
    color: $soffwhite;
    border-radius: 5px;
  }
}
