.stuud-navbar {
  // width: 237px;
  height: 100vh;
  width: 238px;
  background-color: #424d58;
  position: fixed;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .nav-links {
    list-style-type: none;
    margin-top: 110px;
    padding-left: 5px;

    }

  li > a {
    text-decoration: none;
    color: white;
  }

  .nav-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);

    }

    a {
      margin-left: 5px;
    }
  }

  .nav-logo {
    height: 50px;
    width: 50px;
    color: white;
    margin-left: 34px;
  }

    // .item-hover {
  //   width: 20px;
  //   height: 238px;
  //   color: white;

  //   &:hover {
  //     color: white;
  //   }
  // }

  #expenses {
    position: relative;
    left: 83px;
  }

  #stuud-logo {
    font-size: 31px;
    font-weight: 900;
    margin-top: 36px;
    margin-left: 48px;
    position: absolute;

    a {
      color: $sorange;
      text-decoration: none;

      &:hover {
        color: #FA4B00;
      }
    }

  }

  #nav-footer {
    list-style-type: none;
    margin-bottom: 30px;

    a {
      text-decoration: none;
      color: white;

      &:hover {
        color: $sorange;
      }
    }

    p {
      font-size: 16px;
      color: white !important;
      font-weight: bold;
      margin-bottom: 5px;
    }

    img {
      position: relative;
      top: 32px;
      left: 13px;
    }
  }

  #user-info {
    margin-left: 63px;
  }

}
