.stuud-navbar {
  // width: 237px;
  height: 100vh;
  background-color: #424d58;

  #stuud-logo {
    font-size: 31px;
    font-weight: bold;

    a {
      color: $sorange;
      text-decoration: none;
    }
  }

  .nav-links {
    list-style-type: none;

    }

  li > a {
    text-decoration: none;
    color: white;
  }

  .nav-logo {
    height: 50px;
    width: 50px;
    color: white;
  }


  #nav-footer {
    list-style-type: none;
    position: relative;
    top: 300px;

    a {
      text-decoration: none;
      color: white;
    }
  }


}
