<p>Hello, <%= @event.client.first_name.capitalize  %> <%= @event.client.last_name.capitalize  %></p>

<p>Your lesson is confirmed for the following date: <%=@event.start_time.strftime("%A, %b %d") %> </p>

<% if @event.payment_status == false %>
  <p>Your amount due is: $<%=@event.price %></p>
<% else %>
  <p>Thank you for your payment!</p>
<% end %>

