// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "flatpickr/dist/flatpickr";

// Your CSS partials
@import "components/index";
@import "pages/index";

.page-body {
  overflow: hidden;
  height: 100vh;
  padding: 30px;
  margin-left: 238px;
  background-color: rgb(246, 245, 246);
}

p {
  margin-bottom: 0px!important;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

hr {
    border-top: 1px solid $sblue;
  }

:root {
  --fc-today-bg-color: rgba(251, 108, 0, 0.35);

}
